:root {
    --primary: #f5a11a;
    --secondary: #f67020;
    --dim: #321e00;
    --black: #000000;
    --white: #ffffff;

    /* RGB values of the colors */
    --primary-rgb: 245, 161, 26;
    --secondary-rgb: 246, 112, 32;
    --dim-rgb: 50, 30, 0;
    --black-rgb: 0, 0, 0;
    --white-rgb: 255, 255, 255;

    --font-size-desktop: 1.2em;
    --font-size-mobile: 1em;
    --padding-desktop: 20px;
    --padding-mobile: 15px;
}   

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url('assets/Background.png') center / cover no-repeat fixed;
    font-family: 'Arial', sans-serif;
    color: var(--white);
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.logo {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

header {
    background: rgba(var(--primary-rgb), 0.9);
    color: var(--white);
    padding: 20px 0;
    text-align: center;
    border-bottom: 3px solid var(--secondary);
}

h1 {
    margin: 0;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(var(--dim-rgb), 1);
}

.description {
    font-size: var(--font-size-desktop);
    line-height: 1.6;
    background-color: rgba(var(--dim-rgb), 0.8);
    color: var(--white);
    padding: var(--padding-desktop);
    border: 2px dashed var(--secondary);
    margin: 20px 0;
    transition: all 0.5s ease; /* Enhanced duration */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    transform: rotate(0deg); /* Initial rotation state */
}

.description:hover {
    background-color: rgba(var(--dim-rgb), 0.9);
    border-color: var(--primary);
    border-style: solid;
    transform: scale(1.05) rotate(0.5deg); /* Slight rotation on hover */
}

/* Media query for mobile devices */
@media screen and (max-width: 600px) {
    .description {
        font-size: var(--font-size-mobile);
        padding: var(--padding-mobile);
        /* Additional mobile-specific styles can go here */
    }
}

.content {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
}

.content img {
    width: 100%;
    margin: 20px 0;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.content img:hover, .slide img:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
    .container {
        width: 95%;
    }

    .logo {
        width: 80px;
    }

    .content img {
        width: 80%;
    }

    h1 {
        font-size: 2em;
    }

    header, .description, footer {
        padding: 10px;
    }
}

/* Fade-out animation */
.content img.fade-out {
    animation: fade-out 0.5s;
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 auto;
    margin-right: 10px;
    box-sizing: border-box;
}

.slide.visible {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.slide.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.slider.transitioning .slide img {
    transition: none;
}


.social-media-links {
    display: inline-block; /* Aligns the size of the box to its content */
    background-color: var(--dim);
    padding: 10px 20px; /* Adjust padding as needed */
    text-align: center;
    border-radius: 5px; /* Optional: Adds rounded corners */
}

.social-link {
    margin: 0 10px;
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
}

.social-link:hover {
    color: var(--primary);
}

.social-link i {
    margin-right: 8px;
}